<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>online shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome5-overrides.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Advanced-NavBar---Multi-dropdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Footer-Dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Left-SideMenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Login-Form-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Navigation-with-Button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/side-menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/SIdebar-Responsive-2-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/SIdebar-Responsive-2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Sidebar-with-sticky-icon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Social-Icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/sticky-dark-top-nav-with-dropdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
</head>

<body style="background: linear-gradient(rgb(128,128,128) 0%, rgb(128,128,128) 79%, white 100%);">
  <nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button">
      <div class="container">
          <div><a class="navbar-brand" href="#"><span>Online Shop</span> </a><button data-toggle="collapse" class="navbar-toggler float-right" data-target="#navcol-1" style="margin-right: 0px;margin-left: 0px;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
          <div class="collapse navbar-collapse text-left" id="navcol-1">
              <ul class="nav navbar-nav nav-right">
                  <li class="nav-item"></li>
                  <li class="nav-item"><a class="nav-link text-white-50" href="{{ url_for('about')}}">About</a></li>
                  <li class="nav-item"><a class="nav-link text-white-50" href="faq.html">FAQ</a></li>
                  <li class="nav-item"><a class="nav-link text-white-50" href="contact.html">Contact</a></li>
              </ul>
              <p class="ml-auto navbar-text actions"><a class="login" href="{{ url_for('login') }}">Log In</a> <a class="btn btn-light action-button" role="button" href="{{ url_for('register') }}">Sign Up</a></p>
          </div>
      </div>
  </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"><img class="img-fluid" src="{{ url_for('static', filename='assets/img/notebooks-569121_1920.jpg') }}"></div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 style="color: rgb(255,255,255);font-style: oblique;"><strong>What we are?</strong></h3>
                    <p style="font-style: italic;color: rgb(255,255,255);">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim.</p>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"><img class="img-fluid" src="{{ url_for('static', filename='assets/img/handshake-3382503_1920.jpg') }}"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <h3 style="color: rgb(255,255,255);font-style: oblique;"><strong>What we do?</strong></h3>
                    <p style="font-style: italic;color: rgb(255,255,255);">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <div class="col-md-6">
            <footer></footer>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a></div>
                </div>
                <p class="copyright">Company Name © 2017</p>
            </div>
        </footer>
    </div>
    <div></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/Advanced-NavBar---Multi-dropdown.js"></script>
</body>

</html>
